<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_FMjpg_UX1000_.jpg"
      alt=""
      height="250px"
      width="100%"
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        O Angular está de cara nova, com muitas funcionalidades extras e performáticas que auxiliam no dia a dia dos desenvolvedores.
      </a>
    </p>
  </div>
</div>
