.container__articles {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}

.articles__others {

}

header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
