.container__menu-bar {
  padding: 0px 0;
  height: 100%;
}

.container__menu-bar > ul {
  height: 100%;
  display: flex;
  column-gap: 69px;
}

.container__menu-bar > ul > li {
  list-style: none;
  height: 100%;
}
